@import "~bootstrap/dist/css/bootstrap.min.css";

body{
    background: green;
    display: flex;    
}

.container-fluid{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.card{
    background: white;
    width: 300px;
    height: 400px;
    padding: 0;
    display: flex;
    justify-content: center;
    position: relative;
}

.cardheader {
    /* height: 100px; */
    font-size: 70px;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    padding-left: 15px;

}

.cardbody {
    display: flex;
    justify-content: center;
    height: 200px;
    font-size: 140px;
    font-family: 'Times New Roman', Times, serif;
}

.cardfooter {
    /* height: 100px; */
    font-size: 70px;
    display: inline-block;
    transform: rotate(180deg);
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 15px;
}


.button {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.form {
    display: flex;
    justify-content: center;
}
